
            <div class="nav">
                <div class="logo"><img src="static/img/logo.svg" alt="Logo DevopsPro"></div>
                <nav>
                    <ul class="menu">
                        <li class="menu__item"><a href="/deployments" class="menu__item__link">Deployment</a></li>
                        <!-- <li class="menu__item"><a href="/deployments" class="menu__item__link menu__item__link--active">Deployment</a></li> -->
                        <li class="menu__item"><a href="/replicasets" class="menu__item__link">ReplicaSet</a></li>
                        <li class="menu__item"><a href="/pods" class="menu__item__link">Pod</a></li>
                        <li class="menu__item"><a href="/daemonsets" class="menu__item__link">DaemonSet</a></li>
                        <li class="menu__item"><a href="/statefulsets" class="menu__item__link">StatefulSet</a></li>
                        <li class="menu__item"><a href="/jobs" class="menu__item__link">Job</a></li>
                        <li class="menu__item"><a href="/cronjobs" class="menu__item__link">CronJob</a></li>
                    </ul>
                </nav>
            </div>